{% extends 'blog/base.html' %}

{% block title %}Callum Kindred | About Me{% endblock %}

{% block content %}

<div class="post">
    <h2>About Me</h2>
    <p>I am a Artificial Intelligence with Computer Science (year in industry) Student at the University of Birmingham,
        graduating in 2023. Outside of my studies I do rock climbing, jiu jitsu and I am the programming lead for the
        Brum Eco Racing society, UoB's team for the <a
            href="https://www.shell.com/make-the-future/shell-ecomarathon.html">Shell Eco Marathon</a> - 'One of the
        world’s leading energy efficiency competitions'. I also enjoy cycling and travelling!</p>

    <p>I am currently interested in Artificial Intelligence as a potential career path as this is the field I find most
        exciting, however, I'm sure I will come across new areas of computer science that will spark my interest too.
    </p>
    <h3>See my links below:</h3>
    <a href="http://github.com/CKindred"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" style="height: 64px; width: 64px;"/></a>

</div>
{% endblock %}